body {
    background-color: #000000;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-bottom: 15px;
}
@font-face {
    font-family: 'CyberpunkWaifus';
    src: url('CyberpunkWaifus.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
a {
    text-decoration: none;
    display: block;
    text-align: center;
    font-family: 'CyberpunkWaifus';
    font-size: 20px;
    color: #FFFFFF;
}
.boarda {
    text-align: left;
    font-size: 17px;
    font-family: 'CyberpunkWaifus';
    color: #FFF;
}
.boardb {
    text-align: right;
}
#newthread {
    font-size: 30px;
    color: white;
    display: block;
    text-decoration: none;
    text-align: center;
    font-family: 'CyberpunkWaifus';
}
#newthread:hover {
    text-decoration: underline;
}
a:hover {
    text-decoration: underline;
}
.redtext {
    color: #ED145B;
    font-size: 18px;
    font-family: 'CyberpunkWaifus';
    word-wrap: break-word;
}
div {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#sitecorner {
    border-radius: 25px;
    border: 2px solid #FFFFFF;
    padding: 20px;
    width: 395px;
    height: auto;
}
#maincontainer {
    width: 100vw;
    border-radius: 25px;
    border: 2px solid #FFFFFF;
    max-width: 568px;
    height: auto;
    margin: 0 auto;
    position: relative;
    padding: 20px;
}
textarea, #draggable > form > input[type='text'], .text_input {
    resize: none;
    background-color: #262626;
    color: white;
    border: none;
    border-radius: 4px;
}
#title, .title {
    font-size: 30px;
    color: #FFFFFF;
    font-family: 'CyberpunkWaifus';
    font-weight: 900;
    padding-bottom: 15px;
}
.comment, .comment-styled {
    font-size: 18px;
    color: #FFFFFF;
    font-family: 'CyberpunkWaifus';
    word-wrap: break-word;
}
#boardtitle {
    text-align: center;
    font-family: 'CyberpunkWaifus';
    color: white;
    font-size: 19px;
}
#boardcontainer {
    text-align: center;
    height: 20px;
    width: auto;
}
#boardid {
    display: inline;
}
.pagecount {
    display: inline;
    font-size: smaller;
}
#pagecount_container {
    text-align: center;
}
#modlogo {
  max-width: 395px;
  width: auto;
}
#container_login {
  text-align: center;
}
input[type=submit] {
    margin-top: 3px;
}

/* moderator ban tools */

.fa {
  color: #FFF;
}

.fa:hover {
  text-decoration: underline;
}

/* awoo version string at the bottom of each page */
small {
    color: white;
}

/* To offset the lock, unlock and delete buttons from the thread title */
.fa-unlock-alt, .fa-lock, .offset-left {
	margin-left: 6px;
}
input, textarea {
  font-size: 16px;
}
.burg {
  width: 50%;
}
.sticky-1 {
  color: #006400; /* prefetcher green */
}
.sticky-2 {
  color: #FAA757; /* rajah */
}
.sticky-3 {
  color: #FF8080; /* frolly */
}
.sticky-4 {
  color: #4891D9; /* havelock blue */
}
.sticky-5 {
  color: #CC2E2D; /* firebrick */
}
.sticky-6 {
  color: #9900FF; /* purple */
}
.sticky-7 {
  color: #DB9863; /* whiskey sour */
}
.sticky-8 {
  color: #6E4B2A; /* cafe royale */
}
.locked {
  color: #7a7a7a;
}
/* Styling */
.button_styled {
  border: 1px solid #FFF;
  padding: 4px;
  color: white;
  background-color: black;
  font-family: 'CyberpunkWaifus';
}

.special_styled {
  border: 1px solid #ED145B;
  padding: 4px;
  color: white;
  background-color: black;
  font-family: 'CyberpunkWaifus';
}
/* pre tag for rules */
pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
/* new board selector style */
hr {
  border: none;
  box-shadow: none;
  height: 5px;
  border-top: 1px solid #343434;
}
/* mobile beautifier */
@media only screen and (max-width: 479px) {
    #maincontainer {
      margin: 0;
      border: none;
      padding: 0;
      borderRadius: 0;
      width: 100%;
    }
    #sitecorner {
      margin: 0;
      border: none;
      padding: 0;
      width: 100%;
    }
    img {
      width: 100%;
      height: auto;
    }
    #boardcontainer {
      margin-bottom: 25px;
    }
}
#header {
  height: 130px;
}
.header-unbound {
  width: 395px;
}
#maincontainer {
  overflow: hidden;
  color: white;
  padding; 10px;
}
.red {
  color: #ED145B;
}
footer, .footer {
  font-size: xx-small !important; /* to override comment-styled which sets 18px */
  text-align: center;
}
a.footer {
  display: inline-block;
}
#submit {
  float: right;
  height: 20px;
  line-height: 0;
}
.all_extra_board {
  color: grey;
}
#index-news {
  text-align: center;
}
#index-boards {
  margin: 20px;
  line-height: 1.5;
  columns: 2;
}
.boarda-margin {
  margin: 20px;
}
.a-like:hover {
  text-decoration: underline;
}
.search-form {
  line-height: 1.2;
}
.autogenerated-link {
  font-size: 18px;
  display: inline-block;
  text-align: left;
  word-break: break-all;
}
.center {
  text-align: center;
}
.thread-metadata {
  font-size: 11px;
}
.thread-lock {
  display: block !important; /* fuck right off fontawesome */
  text-align: center;
}
.referencer {
  display: inline-block;
}
.spoiler:hover {
  color: #FFFFFF;
  border-bottom: 1px solid #eeeeee;
}
.spoiler {
  color: #000000;
  border-bottom: 1px solid #333;
}
.redtext > .spoiler:hover {
  color: #ED145B;
  border-bottom: 1px solid #ED145B;
}
.redtext > .spoiler {
  border-bottom: 1px solid #401;
}
#thread_watcher {
  z-index: 440;
  border: 1px solid white;
  position: fixed;
  top: 50px;
  right: 50px;
  color: white;
  font-family: CyberpunkWaifus;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black;
}
.thread_watcher_padding {
  padding-left: 10px;
  padding-right: 10px;
}
#thread_watcher_box > div {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding-left: 10px;
  padding-right: 10px;
}
.thread_watcher_new {
  color: #ED145B;
}
