<span style="color: white;" class="comment-styled">Capcode: </span>
<select name="capcode" id="capcode">
  <option value="">None</option>
  <% allowed_capcodes(session).each do |code| %>
    <option value="<%= code %>"><%= code %></option>
  <% end %>
</select>
