<!DOCTYPE HTML>
<HTML>
  <head>
    <title><%= settings.config["title"] %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="static/dangeru.css">
    <meta name="description" content="danger/u/ - dangerous opinions. danger/u/ is a textboard based off danger/u/ from VA-11 HALL-A Cyberpunk Bartender Action.">
    <link rel="shortcut icon" href="static/favicon.ico">
    <script>
      var ol = function ol() {
        if (typeof(unitedPropertiesIf) != "undefined") {
          document.getElementById("maincontainer").style.margin = "0";
          document.getElementById("maincontainer").style.border = "none";
          document.getElementById("maincontainer").style.padding = "0";
          document.getElementById("maincontainer").style.borderRadius = "0";
          document.getElementById("maincontainer").style.width = "100%";
          document.getElementsByTagName("img")[0].style.width = "100%";
          document.getElementsByTagName("img")[0].style.height = "auto";
        }
      }
    </script>
  </head>
  <body onLoad='ol()'>
    <img src="static/logo.png" alt="danger/u/" style="width: 395px; height: 130px;">
    <div style="text-align: center;">
      <span class="comment">Latest news:</span>
      <span class="redtext">14/06/17: archive.dangeru.us is now operational!</span>
    </div>
    <br>
    <div id="maincontainer" style="overflow: hidden;">
      <div style="float: left;">
        <span class="redtext" style="text-decoration: underline;">General</span>
        <% settings.config['boards'].select do |key, val| session[:username] or not val["hidden"] end.each do |key, array| %>
          <a class="boarda" href="/<%= key %>"><div id="comment"><%= settings.config['boards'][key]['desc'] %></div></a>
        <% end %>
      </div>
    </div>
    <div style="text-align: center;">
    </div><br>
    <footer class="comment" style="font-size: xx-small; text-align: center;">
      <small>Awoo <%= settings.awoo_version %></small>
    </footer>
  </body>
</HTML>
