<!doctype html>
<html>
  <head>
    <title>Introspect</title>
    <link rel="stylesheet" type="text/css" href="/static/dangeru.css">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>
  <body>
    <div id="sitecorner">
      <img src="/static/logo.png" />
      <div id="title">Select what you would like to introspect today</div>
      <hr />
      <br />
      <a href="/introspect/_any">Full logs</a>
      <br />
      <a href="/ip/_meta">Meta logs</a>
      <br />
      <hr />
      <br />
      <% Config.get["janitors"].each do |mod| %>
        <% username = mod["username"] %>
        <a href="/introspect/<%= Awoo.clean(username) %>"><%= Awoo.clean(username) %></a>
        <br />
      <% end %>
    </div>
  </body>
</html>

