<!DOCTYPE HTML>
<HTML>
  <head>
    <title>Mod login</title>
    <link rel="stylesheet" type="text/css" href="static/dangeru.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="static/favicon.ico">
    <style>
      #container_login {
        text-align: center;
      }
      #modlogo {
        //what
      }
    </style>
  </head>
  <body>
    <div id="container_login">
      <a href="javascript:location.reload();"><img src="/static/logo.png" alt="danger/u/" id="modlogo"></a><br>
      <div class="redtext">[danger/u/ admin panel login]</div><br>
      <form action="/mod" method="post" name="mod_login">
        <div class="redtext">[Username: <input type="text" name="username" id="username" placeholder="Username" />]</div>
        <div class="redtext">[Password: <input type="password" name="password" id="password" placeholder="Password" />]</div>
        <br />
        <input type="submit" id="submit" name="submit" value="Send" />
      </form><br>
    </div>
    <footer class="comment" style="font-size: xx-small; text-align: center;">
      <small>Awoo <%= settings.awoo_version %></small>
    </footer>
  </body>
</HTML>
