<!doctype html>
<html>
  <head>
    <style>
      body {
        text-align: center;
        color: white;
      }
    </style>
    <link rel="stylesheet" href="/static/dangeru.css" />
    <link rel="shortcut icon" href="/static/favicon.ico">
    <style>
    #container_login {
      text-align: center;
    }
    #modlogo {
      width: auto;
    }
    </style>
  </head>
  <body>
    <div id="container_login">
      <a href="javascript:location.reload();"><img src="/static/logo.png" alt="danger/u/" id="modlogo"></a><br>
      <span id="title" class="redtext">[Welcome <%= Sanitize.clean(session[:username]) %>]</span>
      <br />
      <% if is_supermaidmin config, session %>
        <span class="redtext">[Welcome Supermaidmin.]</span><br /><br />
        <a href="/introspect">>Begin introspection?</a>
        <br />
      <% end %>
      <span class="redtext">[You moderate:]</span><br />
      <br />
      <% config["boards"].select do |board, v| session[:moderates].include? board end.each do |board, v| %>
        <a href="/<%= board %>">><%= board %></a>
      <% end %>
      <br />
      <a href="/logout" class="redtext">Log out</a>
    </div>
  </body>
</html>
