<!doctype html>
<html>
  <body>
    You moderate:
    <br />
    <% config["boards"].select do |board, v| session[:moderates].include? board end.each do |board, v| %>
      <a href="/<%= board %>"><%= board %></a>
      <br />
    <% end %>
    Rest:
    <br />
    <% config["boards"].select do |board, v| not session[:moderates].include? board end.each do |board, v| %>
      <a href="/<%= board %>"><%= board %></a>
      <br />
    <% end %>
  </body>
</html>
