<!DOCTYPE HTML>
<html>
  <head>
    <title>april fools</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="static/dangeru.css">
    <link rel="shortcut icon" href="static/favicon.ico">
  </head>

  <body>
    <a href="/"><img src="/static/logo.png" id="header" class="header-unbound"></a>
    <div id="sitecorner">
      <div id="title" style="text-align: center;">danger/u/ pass</div>
      <div class="comment">The danger/u/ pass is the ultimate reward to the die-hard fans of danger/u/. It offers a variety of cool features, like:<br>- Voting for posts!<br>- Telling people that their opinion is shit and they're FORCED to listen to you!<br>- Making your waifu real, amongst many others.<br><br>So, what are you waiting for? Go spend your $4.99 <a href="https://webm.kongoucheats.com/Mzk4NTU0MDk1Nw==.webm" style="display: inline;">here</a>!</div>
      <a onclick="window.history.back()">go back</a>
    </div>
    <footer class="comment">
      <%= Config.get["footer"] %>, <a href="https://github.com/dangeru/awoo/" class="footer">Awoo <%= settings.awoo_version %></a>
    </footer>
  </body>
</html>

