<!DOCTYPE HTML>
<HTML>
  <head>
    <title>/<%= path %>/ - Rules</title>
    <link rel="stylesheet" type="text/css" href="/static/dangeru.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div id="sitecorner">
      <img src="<%= banner %>" alt="danger/u/">
      <div id="title" style="text-align: center;">/<%= path %>/ - Rules</div>
      <pre class="comment">
<%= rules %>
      </pre>
  </div>
  </body>
</HTML>
