<!DOCTYPE HTML>
<html>
  <head>
    <title><%= settings.config['title']%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h1><%= id %></h1>
    <small>Awoo <%= settings.awoo_version %></small>
  </body>
</html>
